node_modules
*.log*
.nuxt
.nitro
.cache
.output
.env
dist
.DS_Store
.fleet
.idea

public/texture.jpg
public/apk
/foo.*

/*.crt
/*.key
lib/cpp
lib/texgenpack/a.out.js
lib/texgenpack/a.out.wasm
public/*.png
